/* SM World Rando CSS */

body {
    font: 14pt sans-serif;
    color: #000;
    background: #ffffff;
    padding: 0pt;
    margin: 0pt;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

/* ACCORDIONS */
.accordion {
    font-size: 14pt;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover{
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* SLIDERS */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/* NAVBAR */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #f8f8f8;
}

.nav-item {
    float: left;
}

.nav-item-right {
    float: right;
}

.nav-main{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #777777;
}

.nav-main:hover {
    color: #000;
}

.nav-link {
    font: 12pt sans-serif;
    display: inline-block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    color: #777777;
}

.nav-link:hover {
    color: #000;
}

.active {
    background-color: #c3c3c3;
}


/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 14pt;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:focus {
    background-color: #c3c3c3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.center-div
{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.errready {
    display: none;
}

.dlready {
    display: none;
}

.dlnotready {
    display: block;
}
