<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Door randomizer and world randomizer for Super Metroid!">
        <meta name="author" content="Aremath">
        <!-- TODO -->
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <title>
            Super Metroid World Randomizer
        </title>

        <!-- Styles? -->
    </head>

    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <!-- Navbar Header (collapse button and home link) -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                        <!-- The three lines -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Home -->
                    <a class="navbar-brand" href="/">Super Metroid World Randomizer</a>
                </div>
                <!-- Collapsable Navbar -->
                <div id="mynavbar" class="collapse navbar-collapse">
                    <!-- Other Menus -->
                    <ul class="nav navbar-nav {% block wr_isactive %}{% endblock %}">
                        <li class="nav-item">
                            <a href="/world_rando" class="nav-link">World Randomizer</a>
                        </li>
                        <li class="nav-item {% block rogue_isactive %}{% endblock %}">
                            <a href="/rogue" class="nav-link">Metroid Rogue</a>
                        </li>
                    </ul>
                    <!-- /Other Menus -->
                    <!-- Help Menu is on the right -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Help
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.github.com/aremath/sm_rando" class="dropdown-item">Github</a></li>
                                <li><a href="/TODO" class="dropdown-item">Updates</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /Help Menu -->
                </div>
            </div>
        </nav>
        <!-- /Navbar -->
    <!-- Main Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- /Main Content -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>
</html>
