<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Door randomizer and world randomizer for Super Metroid!">
        <meta name="author" content="Aremath">
        <!-- TODO - remove -->
        <meta http-equiv="Pragma" content="no-cache">
        <!-- TODO -->
        <!-- <link rel="icon" href="/favicon.ico"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="../static/style.css">
        <title>
            Super Metroid World Randomizer
        </title>

        <!-- Styles? -->
    </head>

    <body>
        <!-- Navbar New -->
        <div>
        <ul class="navbar">
            <li class="nav-item">
                <a href="/" class="nav-main">Super Metroid World Randomizer</a>
            </li>
            <li class="nav-item {% block wr_isactive %}{% endblock %}">
                <a href="/world_rando" class="nav-link">Randomize!</a>
            </li>
            <li class="nav-item {% block rogue_isactive %}{% endblock %}">
                <a href="/rogue" class="nav-link">Metroid Rogue</a>
            </li>
            <li class="nav-item-right">
                <a href="https://www.github.com/aremath/sm_rando" class="nav-link">Randomizer GitHub</a>
            </li>
            <li class="nav-item-right">
                <a href="https://www.github.com/aremath/sm_web" class="nav-link">Website GitHub</a>
            </li>
            <li style="clear: both;"></li> <!-- Clear the floats -->
        </ul>
        </div>

    <!-- Main Content -->
    <div class="container", style="clear: both; padding: 4px 20px" align="left">
        {% block content %}{% endblock %}
    </div>

    <!-- /Main Content -->
    <!-- <div class="dropdown">
        <button class="dropbtn" aria-controls="dropcontent">Dropdown</button>
        <div id="dropcontent" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
        </div>
    </div> -->

    </body>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../static/main.js"></script>
    {% block extrascripts %}{% endblock %}
</html>
