{% extends "base.html" %}

{% block wr_isactive %}active{% endblock %}

{% block extrascripts %}
    <script>
        var link_interval = setInterval(function(){
            sweep_links("/downloads/{{folder}}/done.txt", "/downloads/{{folder}}/error.txt", link_interval);
        }, 3000);
    </script>
{% endblock %}

{% block content %}
<p>
    If you get stuck, you can press Start+Select to warp back to Samus' Ship.
</p>
<div class="dlnotready center-div">
    <p> Generating ROM File. Please wait. </p>
    <!-- Display a random .gif while things generate -->
    <img src="/gif/random">
</div>
<div class="dlready center-div">
    <p> Download is ready! This link will be valid for {{link_time}} minutes.</p>
    <a href="/downloads/{{folder}}/rando.zip">Download Randomized ROM</a>
</div>
<div class="errready center-div">
    <p id="errorp" style="color: red"></p>
</div>
{% endblock %}

