{% extends "base.html" %}
{% block content %}
<h2> Super Metroid World Randomizer </h2>
<p>
    Head to the Randomize! page to generate a ROM.
</p>
<p>
    Randomizes the doors in Super Metroid with logic to ensure completability. In contrast with previous door randomizers, doors always take you back to where you came from.
</p>
<p>
    If you get stuck, you can press Start+Select to warp back to Samus' Ship.
</p>
<p>
    The randomizer is still in development. If you encounter any bugs in the game or problems with the logic, feel free to open an issue on the Randomizer github, and I will try to fix it. If you encounter any problems with the website, open an issue on the website github instead.
</p>
{% endblock %}
