{% extends "base.html" %}

{% block wr_isactive %}active{% endblock %}

{% block extrascripts %}
<script src="../static/presets.js"></script>
{% endblock %}

{% block content %}
<h2> Super Metroid World Randomizer </h2>
<p>
    Randomize the doors in Super Metroid, with logic to make sure that you can actually beat the game. The randomizer is backtracking, meaning that doors will take you back where you came from. Have fun!

    This is the rando page TODO
</p>

<form id="wr_settings" action="/world_rando/create" method="POST">
    <fieldset>
        <legend>Starting Items:</legend>
        Presets:<br>
        <select id="starting_preset">
            <option value="choose" disabled selected hidden> choose </option>
            <option value="easy"> Easy </option>
            <option value="medium"> Medium </option>
            <option value="hard"> Hard </option>
        </select>

        <button class="accordion">Advanced</button>
        <div class="panel">
        
        <h3>Ammo:</h3>
        {% for a in ammo %}
            {{a.name}}
            <div class="slidecontainer">
                <input type="range" min="{{a.min}}" max="{{a.max}}" value="{{a.min}}" class="slider" id="{{a.id}}" name="{{a.id}}" aria-controls="{{a.id}}input">
                <input type="text" id="{{a.id}}input" class="intinput" min="{{a.min}}" max="{{a.max}}" aria-controls="{{a.id}}">
            </div>
        {% endfor %}
        <h3>Beams:</h3>
        {% for b in beams %}
            <input type="checkbox" id="{{b.id}}" name="{{b.id}}">
            {{b.name}}
        {% endfor %}
        <h3>Suits:</h3>
        {% for s in suits %}
            <input type="checkbox" id="{{s.id}}" name="{{s.id}}">
            {{s.name}}
        {% endfor %}
        <h3>Items:</h3>
        {% for i in items %}
            <input type="checkbox" id="{{i.id}}" name="{{i.id}}">
            {{i.name}}
        {% endfor %}

        </div>

    </fieldset>

    <fieldset>
        <legend>Placed Items:</legend>
        Presets:<br>
        <select id="placing_preset">
            <option value="choose" disabled selected hidden> choose </option>
            <option value="two_majors"> Two Majors </option>
            <option value="one_major"> One Major </option>
            <option value="missile_bonanza"> Missile Bonanza </option>
        </select>

        <button class="accordion"> Advanced </button>
        <div class="panel">
        Ammo values are interpreted as a ratio of the remaining items after placing major items. The total number of items placed is 100. The majors slider affects EACH type of item. Items after that are in addition.<br>

        <h3>Majors:</h3>
            <div class="slidecontainer">
                <input type="range" min="1" max="4" value="1" class="slider" id="majors" name="majors" aria-controls="majorsplaceinput">
                <span id="majors_placeval"></span>
                <input type="text" id="majorsplaceinput" class="intinput" min="1" max="4" aria-controls="majors">
            </div>

        <h3>Ammo:</h3>
        {% for a in ammo %}
            {{a.name}}
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="1" class="slider" id="{{a.id}}place" name="{{a.id}}place" aria-controls="{{a.id}}placeinput">
                <input type="text" id="{{a.id}}placeinput" class="intinput" min="1" max="100" aria-controls="{{a.id}}place">
            </div>
        {% endfor %}

        Reserve Tanks:
        <div class="slidecontainer">
        <input type="range" min="0" max="100" value="0" class="slider" id="reserveplace" name="reserveplace" aria-controls="reserveplaceinput">
        <input type="text" id="reserveplaceinput" class="intinput" min="0" max="100" aria-controls="reserveplace">
        </div>

        <h3>Beams:</h3>
        {% for b in beams %}
            {{b.name}}
            <div class="slidecontainer">
                <input type="range" min="0" max="5" value="0" class="slider" id="{{b.id}}place" name="{{b.id}}place" aria-controls="{{b.id}}placeinput">
            <input type="text" id="{{b.id}}placeinput" class="intinput" min="0" max="5" aria-controls="{{b.id}}place">
            </div>
        {% endfor %}
        <h3>Suits:</h3>
        {% for s in suits %}
            {{s.name}}
            <div class="slidecontainer">
            <input type="range" min="0" max="5" value="0" class="slider" id="{{s.id}}place" name="{{s.id}}place" aria-controls="{{s.id}}placeinput">
            <input type="text" id="{{s.id}}placeinput" class="intinput" min="0" max="5" aria-controls="{{s.id}}place">
            </div>
        {% endfor %}
        <h3>Items:</h3>
        {% for i in items %}
            {{i.name}}
            <div class="slidecontainer">
            <input type="range" min="0" max="5" value="0" class="slider" id="{{i.id}}place" name="{{i.id}}place" aria-controls="{{i.id}}placeinput">
            <input type="text" id="{{i.id}}placeinput" class="intinput" min="0" max="5" aria-controls="{{i.id}}place">
            </div>
        {% endfor %}

        </div>

    </fieldset>

    Seed (optional):
    <input type="text" name="seed"><br>
    <input type="submit" value="Create!">
</form>

</div>

{% endblock %}
